:root {
  --lighttan: rgba(255, 248, 241, 1);
  --midtan: rgb(254, 231, 217);
  --tan: rgba(244, 207, 185, 1);
  --darkpurple: rgba(19, 15, 25, 0.88);
  --brown: rgba(98, 71, 58, 1);
  --darkbrown: rgba(39, 22, 14, 1);
}

body {
  font-family: Dynapuff, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: var(--lighttan);
  background-attachment: fixed; 
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.startbutton {
  text-align: center;
  font-size: 3rem;
  margin: 2.5rem 0.125rem;
  border-radius: 0.5rem;
  border-color: var(--darkpurple);
  border-width: 0.25rem;
  border-style: solid;
  transition: 0.2s;
  padding: 0.70rem 4rem;
  background-color: rgba(244, 207, 185, 1);
  color: var(--brown);
  cursor: pointer;
  font-family: Dynapuff, sans-serif;
  transition: cubic-bezier(1, 0, 0, 1)
}

.startbutton:hover {
  background-color: var(--brown);
  color: var(--lighttan);
}

.startbutton:active {
  transform: scale(0.95);
}

.recipebtn {
  text-align: center;
  font-size: 1.5rem;
  margin: 0.125rem 0.125rem;
  border-radius: 0.5rem;
  border-color: var(--darkpurple);
  border-width: 0.25rem;
  border-style: solid;
  transition: 0.2s;
  padding: 0.70rem 4rem;
  background-color: var(--tan);
  color: var(--brown);
  cursor: pointer;
  font-family: Dynapuff, sans-serif;
  transition:cubic-bezier(1, 0, 0, 1) ;
}

.recipebtn:hover {
  background-color: var(--brown);
  color: var(--lighttan);
}

.recipebtn:active {
  transform: scale(0.97);
}

.backbtn {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  border-style: solid;
  transition: 0.2 ease-in-out;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.backbtn:active {
  transform: scale(0.95);
}

.recipeheader {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 0.1rem;
  font-family: Dynapuff, sans-serif;
  font-weight: bold;
  color: var(--darkbrown);
  margin-bottom: 0.1rem;
  margin-top: 3.5rem;
}

.recipedesc {
  text-align: center;
  font-size: 1.2rem;
  font-family: Dynapuff, sans-serif;
  color: var(--brown);
  margin-top: 0.1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculatebtn {
  text-align: center;
  font-size: 1.2rem;
  margin: 0.25rem 0.125rem;
  border-radius: 0.5rem;
  border-color: var(--brown);
  border-width: 0.25rem;
  border-style: solid;
  transition: cubic-bezier(1, 0, 0, 1);
  padding: 0.70rem 4rem;
  background-color: rgba(244, 207, 185, 1);
  color: var(--brown);
  cursor: pointer;
  font-family: Dynapuff, sans-serif;
}

.calculatebtn:hover {
  background-color: var(--brown);
  color: var(--lighttan);
}

.calculatebtn:active {
  transform: scale(0.97);
}


.number-input {
  width: 18rem;
  height: 6.5rem;
  font-size: 1.5rem;
  text-align: center;
  background: var(--midtan);
  border-radius: 1rem;
  border: none;
  box-sizing: border-box;
  margin-right: 0.5rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantitybtn {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--darkpurple);
  text-align: center;
  background: var(--lighttan);
  border-radius: 5rem;
  border: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: transform 0.1s ease-in-out;
}

.quantitybtn:active {
  transform: scale(0.95);
  color: var(--brown);
}

.value {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.number {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--darkbrown);
}

.text {
  align-items: flex-end;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--brown);
}

.col{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom {
  position: absolute;
  bottom: 3rem;
}